/* GLOBALS */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

button:hover {
  outline: 0 !important; /* We hate outlines here */
}

button:focus {
  outline: 0 !important; /* We still hate outlines here */
}

ol {
  list-style: none;
}

/* CUSTOM */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  height: 100px;
  padding-bottom: 1px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Colors for time states */

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

/* Button related styles */

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  border: 0;
}

.saveBtn i:hover {
  color: black;
  transition: all .3s ease-in-out;
}

.button-img {
  display: block; 
  margin: auto;
  text-align: center; 
  font-size: 24px;
  width: 40%;
}

/* Classes for custom column (bootstrap was a bit of a pain) */

.column-side {
  float: left;
  width: 15%;
  height: 100%;
  padding: 10px;
}
.column-middle {
  float: left;
  width: 70%;
  height: 100%;
  padding: 10px;
}
